html,
body,
header,
.view {
    height: 100%;
    background: linear-gradient(0deg, rgb(75, 75, 75) 0%, rgba(198,224,250,1) 100%);
}
.anim-link {
    transition: 0.2s !important;
}
.anim-link:hover {
    /* margin-left: 3px !important; */
    font-size: 1.1em !important;
    /* transform: scale(1.02) !important; */
    color: brown !important;
    transition: 0.2s !important;
}

main {
    height: 63.3%;
}
