{% extends 'homepage.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/reference.css' %}">
<header class="header">
    <h2>Instructions for using the application</h2>
</header>
<div class="address_book">
    <h3>Address Book</h3>
    <ul>
        <li><p>Address Book is useful for adding your contacts</p></li>
        <li><p>This addressbook is presented as list of contacts with contact`s name, phone and his/her birthday.
        In the top of this there is search area, where you can enter your input to find contact by name or surname. "All" button is reseting all filters </p></li>
        <li><p>In the right side top-corner you can see 3 interaction buttons: Delete, View and Update. It represents actions that was mentioned above</p></li>
    </ul>
</div>
<div class="note_book">
    <h3>Note Book</h3>
    <ul>
        <li><p>Note Book can help you with adding notes</p></li>
        <li><p>Note book is represented as list of notes. It contains info about note`s title, description and its tags. Tags are made as an interaction button, that add to filter following tags.
        Also it consists the same buttons as addressbook: Delete and Update. In the top of this there is search area, where you can enter your input to find note by its title</p></li>
        <li><p>In the left side there is side-bar with tags existing in your notes. Using it you can filter your list of notes</p></li>
    </ul>
</div>
<div class="news">
    <h3>News</h3>
    <ul>
        <li><p>Information section of the application. In this section news feeds are divided into popular
        categories: World news, Financial news, Sports news, Entertainment news and TechCrunch news.</p></li>
        <li><p>Active news headlines with the ability to go to a detailed article on the main page of the source.</p></li>
    </ul>
</div>
<div class="weather">
    <h3>Weather</h3>
    <ul>
        <li><p>In the upper right corner of the News section, a brief weather forecast for your location is
            constantly displayed <i>(the location is determined by the application automatically)</i>.</p></li>
        <li><p>For a full weather forecast for your location, click on the "see more >>" link under the weather
        forecast.</p></li>
        <li><p>On the weather forecast page, it is possible to get a weather forecast for any city of the world
        interests the user. Enter the name of the city of interest in "another location" and click on the search button.
        </p></li>
    </ul>
</div>
<div class="currency_converter">
    <h3>Currency Converter</h3>
    <ul>
        <li><p>On the page of the Currency Converter, the scrolling line indicates the current exchange rates to the
        base currency - the Euro.</p></li>
        <li><p>The Currency Converter has a selections of all the valid world currencies.</p></li>
        <li><p>To convert currencies, choose in the selection one currency, enter an amount and select another currency
            in the next selection. To get the result, click "Convert".</p></li>
    </ul>
</div>
<div class="files">
    <h3>Files</h3>
    <ul>
        <li><p>That functionality gives you an aportunity to store yor files on server storage and you can be assured that you use all the advantages of distributed file system. 
            No one has access to your Information, except you. All your personal data stores in your dedicate folder. To evaluate that feature you need to register your account. </p></li>
        <li><p>To upload yor file - just choose it and press the button "Upload file". That`s it? as simple as that! Now you can see a bunch of buttons corelates with type of files: "Images", "Documents", etc.
            If you d-loaded onr of such files, you can find it by pressing on matching button. If there are no suitable buton, you can find your data by pressing "Other" button. To oserve all your stored data - just press "All" </p></li>
        <li><p>You also can easily delete any of your files - just press "Delete" button in front of name of you file</p></li>
    </ul>
</div>
<div class="warning">
    <h2><b>Warning!</b></h2>
    <ul>
        <li><p>All application functions are available only to authorized users!</p></li>
        <li><p>For authorization, follow the link "Login" or "Register" in the upper right corner of the home page.</p></li>
    </ul>
</div>
{% endblock %}
